<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">

<head>

<title>Truthcoin</title>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css" />

<link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,300,300italic,700italic,700' rel='stylesheet' type='text/css'>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    
<style>

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}
h1, h2, h3, h4, h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}
h3 {
    margin: 5px 0px 10px 0px;
}
h3 span {
    font-size: 14px;
    margin-top: 10px;
}
h4 a,
h4 span {
    font-size: 14px;
    margin-top: 3px;
}
table {
    font-size: 12px;
}
table thead th{
    font-weight: 400;
}
nav h1 {
    font-size: 18px;
    font-weight: 200;
    margin: 0px 0px 0px 0px;
}
nav h1 span {
    font-weight: 400;
}
nav .cash {
    margin-left: 20px;
    font-weight: bold;
}

.nav .dropdown button {
    border-radius: 0px;
    margin-top: 7px;
}

.sidebar .panel {
    font-size: 12px;
}

.branches .branches-toggle:before {
    content: 'show all';
}
.branches.all .branches-toggle:before {
    content: 'less';
}
.branches .other {
    display: none;
}
.branches.all .other {
    display: block;
}
#password-modal .modal-dialog {
    width: 400px;
}
#create-branch-modal .modal-dialog {
    width: 400px;
}
#explore-modal .modal-dialog {
    width: 90%;
}
#explore-modal pre {
    font-size: 12px;
}
#explore-modal .input-group {
    width: 250px;
}
#send-cash-modal #dest-address {
    width: 290px;
}
.address {
    overflow: hidden;
    text-overflow: ellipsis;
}
.network .miner-off span {
    color: red;
}
.network .miner-on span {
    color: green;
    font-weight: bold;
}
.network .blocks {
    margin-bottom: 15px;
}
.network fieldset {
    margin-top: 15px;
}
.network fieldset legend {
    font-size: 12px;
    margin-bottom: 10px;
}
.reporting {
    display: none;
    margin-bottom: 30px;
}
.reporting #report-decisions {
    margin-bottom: 0px;
}
.reporting #report-decisions li {
    background-color: rgb(255, 255, 228);
}
.reporting #report-decisions li:last-child {
    border-bottom-right-radius: 0; 
}
.reporting p {
    font-size: 14px;
}
.reporting button[type=submit] {
    position: relative;
    top: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.reporting #reveal-button {
    display: none;
}
.reporting .my-choice {
    display: none;
    font-weight: bold;
    margin-bottom: 0px;
}
.reporting.reported #report-button {
    display: none;
}
.reporting.reported #reveal-button {
    display: inline-block;
}
.reporting.reported .my-choice {
    display: block;
}
.reporting.reported label {
    display: none;
}

.spin {
    display: inline-block;
    -webkit-transform-origin: 47% 50%;
    transform-origin: 47% 50%;
    -webkit-animation: spin 1s infinite linear;
    -moz-animation: spin 1s infinite linear;
    -o-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
}
.nav button span {
    position: relative;
    top: 3px;
    margin-left: 5px;
}
.alert {
    position: fixed;
    width: 100%;
    min-height: 40px;
    background-color: #dadada;
    opacity: 0.8;
    bottom: 0;
    margin-bottom: 0px;
    border-radius: 0;
    display: none;
}
</style>

<body>

    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <h1 class="navbar-brand"><span>Truthcoin</h1>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown node-stopped">
                    <button class="btn btn-danger" data-toggle="dropdown">Node stopped <span class="glyphicon glyphicon-cog"></span></button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#password-modal" data-toggle="modal">Start node</a></li>
                    </ul>
                </li>
                <li class="dropdown node-starting" style="display:none;">
                    <button class="btn btn-warning" data-toggle="dropdown">Node starting <span class="glyphicon glyphicon-refresh spin"></span></button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#" id="toggle-miner" class="off">Cancel</a></li>
                    </ul>
                </li>
                <li class="dropdown node-running" style="display:none;">
                    <button class="btn btn-success" data-toggle="dropdown">Node running <span class="glyphicon glyphicon-cog"></span></button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#" id="stop-node">Stop node</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        
    </nav>

    <section id="main" class="container" style="display:none;">

        <div class="dash page row">

            <div class="col-sm-3 sidebar">
                <div class="panel panel-success account">
                    <div class="panel-heading clearfix">Account</div>
                    <div class="panel-body">
                        <p class="address"></p>
                        <p class="cash"></p>       
                    </div>
                </div>

                <div class="panel panel-info">
                    <div class="panel-heading clearfix"><span class="pull-left">Branches</span><a class="pull-right" href="#create-branch-modal" data-toggle="modal">create</a></div>
                    <div class="panel-body branches">
                    </div>
                </div>

                <div class="panel panel-default network">
                    <div class="panel-heading clearfix"><span class="pull-left">Network</span></div>
                    <div class="panel-body">
                        <p class="blocks clearfix"></p>
                        <p class="miner-control miner-off clearfix"><span class="pull-left">MINER OFF</span><a href="#" class="pull-right">start</a></p>
                        <p class="miner-control miner-on clearfix" style="display:none;"><span class="pull-left">MINER ON</span><a href="#" class="pull-right">stop</a></p>
                        <fieldset>
                            <legend>PEERS</legend>
                            <div class="peers"></div>
                        </fieldset>
                    </div>
                </div>

            </div>
          
            <div class="col-sm-9">
                
                <div class="reporting">
                    <h3 class="clearfix"></h3>
                    <form method='POST' class="clearfix">
                        <ul class="list-group" id="report-decisions"></ul>
                        <script type="text/template" id="report-template">
                            <li class="list-group-item">
                                <p><%= d.txt %></p>
                                <label class="radio-inline"><input type="radio" name="<%= d.decision_id %>" value='yes'>True</label>
                                <label class="radio-inline"><input type="radio" name="<%= d.decision_id %>" value='no'>False</label>
                                <label class="radio-inline"><input type="radio" name="<%= d.decision_id %>" value='unknown'>
                                    Ambiguous or Indeterminent
                                </label>
                                <p class="my-choice"><%= d.my_choice %></p>
                            </li>
                        </script>
                        <button type="submit" class="btn btn-primary pull-right" id="report-button">SUBMIT REPORT</button>
                        <button type="submit" class="btn btn-success pull-right" id="reveal-button">REVEAL REPORT</button>
                        <p id="error" class="hidden pull-right"></p>
                    </form>
                </div>
                    

                <h4 class="clearfix">Markets <a href="#add-market-modal" data-toggle="modal" class="pull-right">Add a market</a></h4>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th><th>Decisions</th><th>Fees</th><th>Shares</th><th>Purchased</th><th></th>
                        <tr>
                    </thead>
                    <tbody class="markets"></tbody>
                </table>

                <br>

                <h4 class="clearfix">Decisions <a href="#add-decision-modal" data-toggle="modal" class="pull-right">Add decision</a>
                </h4>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Description</th><th>ID</th><th>Branch</th><th>Matures</th>
                        <tr>
                    </thead>
                    <tbody class="decisions"></tbody>
                </table>
            </div>
        </div>

    </section>

    <footer>

        <div class="row container clearfix">

        </div>

    </footer>

    <div class="alert"></div>

    <!-- modals dialogs -->

    <div id="password-modal" class="modal fade">
        <div class="modal-dialog model-sm">
            <div class="modal-content">
                <div class="modal-body clearfix">
                    <form method="POST">
                        <div class="col-lg-12">
                            <div class="input-group">
                                <input type="password" name="password" class="form-control" placeholder="Enter your password or public key" autofocus>
                                <span class="input-group-btn">
                                    <button class="btn btn-success" type="submit">Start</button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="create-branch-modal" class="modal fade">
        <div class="modal-dialog model-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <p>Create a new branch by entering a unique ID.  You will automatically be added to this branch and awarded all reputation to start.</p>
                </div>
                <div class="modal-body clearfix">
                    <form>
                        <div class="col-lg-12">
                            <div class="input-group">
                                <input type="text" name="branch-id" id="branch-id" class="form-control" placeholder="Enter a branch ID">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="submit">Create branch</button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="send-cash-modal" class="modal fade">
        <div class="modal-dialog model-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Send cash</h4>
                </div>
                <div class="modal-body">
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <label class="sr-only" for="dest-address">Destination address</label>
                            <input type="text" class="form-control" name="cash-dest-address" id="cash-dest-address" placeholder="Enter destination address">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="amount">Amount</label>
                            <input type="text" name="cash-amount" id="cash-amount" class="form-control" placeholder="Amount">
                        </div>
                        <button type="submit" class="btn btn-primary">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="send-rep-modal" class="modal fade">
        <div class="modal-dialog model-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Send <span class="branch"></span> reputation</h4>
                </div>
                <div class="modal-body">
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <label class="sr-only" for="dest-address">Destination address</label>
                            <input type="text" class="form-control" name="rep-dest-address" id="rep-dest-address" placeholder="Enter destination address">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="amount">Amount</label>
                            <input type="text" name="rep-amount" id="rep-amount" class="form-control" placeholder="Amount">
                        </div>
                        <input type="hidden" name="rep-branch" id="rep-branch">
                        <button type="submit" class="btn btn-primary">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="trade-modal" class="modal fade">
        <div class="modal-dialog model-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4><span class="trade-type"></span> shares of <span class="market"></span></h4>
                </div>
                <div class="modal-body">
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <label class="sr-only" for="market-state">State</label>
                            <div id="market-state"></div>
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="amount">Amount</label>
                            <input type="text" name="trade-amount" id="trade-amount" class="form-control" placeholder="Amount">
                        </div>
                        <input type="hidden" name="trade-type" id="trade-type">
                        <input type="hidden" name="trade-market" id="trade-market">
                        <button type="submit" class="btn btn-primary"><span class="trade-type"></span></button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="add-decision-modal" class="modal fade">
        <div class="modal-dialog model-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Add decision</h4>
                </div>
                <div class="modal-body clearfix">
                    <form role="form">
                        <div class="form-group">
                            <label for="decision-branch">Branch</label>
                            <select class="form-control branches" id="decision-branch" name="decision-branch"></select>
                        </div>
                        <div class="form-group">
                            <label for="decision-id">Decision ID</label>
                            <input type="text" class="form-control" id="decision-id" placeholder="Enter a unique decision ID">
                        </div>
                        <div class="form-group">
                            <label for="decision-text">Decision text</label>
                            <input type="text" class="form-control" id="decision-text" placeholder="Enter a short decision description">
                        </div>
                        <div class="form-group">
                            <label for="decision-date">Days to maturation</label>
                            <input type="text" class="form-control" id="decision-time" placeholder="Enter number of days when decision matures">
                        </div>
                        <button type="submit" class="btn btn-primary pull-right">Submit decision</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="add-market-modal" class="modal fade">
        <div class="modal-dialog model-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Add a market</h4>
                </div>
                <div class="modal-body clearfix">
                    <form role="form">
                        <div class="form-group">
                            <label for="market-id">Market ID</label>
                            <input type="text" class="form-control" id="market-id" placeholder="Enter a market ID">
                        </div>
                        <div class="form-group">
                            <label for="market-investment">Initial Investment (B)</label>
                            <input type="text" class="form-control" id="market-investment" placeholder="Enter you initial investment in cash">
                        </div>
                        <div class="form-group">
                            <label for="market-decisions">Market Decisions</label>
                            <input type="text" class="form-control" id="market-decisions" placeholder="Enter a comma seperated list of decision IDs">
                        </div>
                        <div class="form-group">
                            <label for="market-states">Market States</label>
                            <input type="text" class="form-control" id="market-states" placeholder="Enter a comma seperated list of states">
                        </div>
                        <div class="form-group">
                            <label for="market-dep">State Dependency</label>
                            <input type="text" class="form-control" id="market-dep" placeholder="">
                        </div>
                        <button type="submit" class="btn btn-primary pull-right">Submit decision</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="explore-modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header clearfix">
                    <form class="row">
                        <div class="col-lg-6">
                            <div class="input-group input-group-sm">
                                <input type="text" name="block-number" class="form-control" placeholder="Enter block number">
                                <span class="input-group-btn">
                                    <button class="btn btn-info" type="submit">View</button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-body">
                    <pre class="block-view"></pre>
                </div>
            </div>
        </div>
    </div>  

    <div id="na-modal" class="modal fade">
        <div class="modal-dialog model-sm">
            <div class="modal-content">
                <div class="modal-body">
                    <h4 class="text-center">Not yet implemented</h4>
                </div>
            </div>
        </div>
    </div>

<script>
(function () {

    ////
    // local data

    var augur = {

        socket: io.connect(window.location.protocol + '//' + document.domain + ':' + location.port + '/socket.io/'),
        markets: {},
        branches: {},
        decisions: {},
        cycle: {}
    }

    var socket = io.connect(window.location.protocol + '//' + document.domain + ':' + location.port + '/socket.io/');
    var _market = {};
    var _branch = {};
    var _decision = {};

    function formatDate(date) {

        months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Oct','Sep','Nov','Dec'];
        d = new Date(date);

        var hour = d.getHours() > 11  ? d.getHours() - 11 : d.getHours() + 1;
        var apm = d.getHours() > 10 || d.getHours() == 23 && d.getHours() != 0 ? 'pm' : 'am';
        var minutes = d.getMinutes() < 10 ? '0'+ d.getMinutes() : d.getMinutes();
  
        return months[d.getDay()]+' '+d.getDate()+', '+d.getFullYear()+' / '+hour+':'+minutes+' '+apm;
    }


    ////
    // socket events

    socket.on('info', function (data) {

        if (data) {
            $('.cash').html('<span class="pull-left"><b>'+data.amount+'</b> CASH</span><a class="pull-right" href="#send-cash-modal" data-toggle="modal">send</a>');
        }
    });


    socket.on('report', function (cycle) {

        augur.cycle = cycle;

        if (!$.isEmptyObject(cycle.reporting)) {

            $('.reporting h3').html('Reporting <span class="pull-right">Cycle ending ' + formatDate(cycle.last_end_date) + '</span>');

            if (cycle.reported) {
                $('.reporting').addClass('reported');
                $('#reveal-button').attr('disabled', 'true');
            } else {
                $('.reporting').removeClass('reported');
                $('#reveal-button').removeAttr('disabled');
            }

            $('#report-decisions').empty();

            var template = _.template($("#report-template").html());
            _.each(cycle.reporting, function(d, id) {
                $('#report-decisions').append(template({'d': d}));
            });

        } else {

            $('.reporting h3').html('Cycle ending ' + formatDate(cycle.end_date));
        }
        $('.reporting').show()
    });

    socket.on('branches', function (branches) {

        if (branches.length) {

            $('.branches').empty()

            // sort on reputation
            branches = branches.sort(function(a,b) {return (a.my_rep > b.my_rep) ? -1 : ((b.my_rep > a.my_rep) ? 1 : 0);} );
            var has_branches = false;

            _.each(branches, function(branch) {

                _branch[branch['vote_id']] = branch;   // update local branches

                // update add decision modal
                $('#decision-branch').append($('<option>').val(branch.vote_id).text(branch.vote_id));

                if (branch.my_rep) {

                    has_branches = true;
                    var p = $('<p>').html('<span class="pull-left"><b>'+branch.vote_id+'</b> ('+branch.my_rep+')</span>').addClass('clearfix');
                    var send = $('<a>').attr('href','#').addClass('pull-right').text('send').on('click', function() {
                        $('#rep-branch').val(branch.vote_id);
                        $('#send-rep-modal .branch').text(branch.vote_id);
                        $('#send-rep-modal').modal('show');
                    })
                    p.append(send);

                } else {
                    var p = $('<p class="other">').html('<span>'+branch.vote_id+'</span>');
                }
                $('.branches').append(p);
            });

            var bt = $('<a>').addClass('pull-right branches-toggle').on('click', function(event) {
                $('.branches').toggleClass('all');
            });
            $('.branches').append(bt);

        } else {

            var p = $('<p>').html('<span class="pull-left">There are no branches</span>');
            $('.branches').empty().append(p);
        }
    });

    socket.on('my-address', function (address) {

        $('.address').html(address);
    });

    socket.on('blockcount', function (count) {

        $('.blocks').html('<span class="pull-left"><b>'+count+'</b> BLOCKS</span><a class="pull-right" href="#explore-modal" data-toggle="modal">explore</a>');
    });

    socket.on('show-block', function (block) {

        $('.block-view').text(block);
    });

    socket.on('node-up', function () {

        $('#main').show();
        $('.node-stopped').hide();
        $('.node-starting').hide();
        $('.node-running').show();

        socket.emit('my_address');
        socket.emit('info', 'my_address');
        socket.emit('peers');
        socket.emit('miner', 'status');
        socket.emit('blockcount');
    });

    socket.on('node-starting', function () {

        $('.node-stopped').hide();
        $('.node-starting').show();
        //$('#main').show();
    });

    socket.on('node-down', function () {

        $('#main').hide();
        $('.node-stopped').show();
        $('.node-starting').hide();
        $('.node-running').hide();
    });

    socket.on('peers', function (peers) {

        $('.peers').empty();

        $.each(peers, function(address, info) {
            var p = $('<p>').text(address);
            $('.peers').append(p);
        });
    });

    socket.on('decisions', function (decisions) {
        if (decisions.length) {
            $('.decisions').empty();
            $.each(decisions, function(i, d) {
                _decision[d.decision_id] = d;   // update local decision
                $('.decisions').append('<tr><td>'+d.txt+'</td><td>'+d.decision_id+'</td><td>'+d.vote_id+'</td><td>'+formatDate(d.maturation_date)+'</td></tr>');
            });
        }
    });

    socket.on('markets', function (markets) {
        if (markets.length) {
            $('.markets').empty();
            $.each(markets, function(i, m) {

                _market[m['PM_id']] = m;   // update local markets

                var states = $('<select>').addClass('states, form-control').attr('name', 'market-state');
                _.each(m['states'], function(state) {
                    states.append($('<option>').val(state).text(state));
                });
                var row = $('<tr>').html('<td>'+m.PM_id+'</td><td>'+m.decisions.join(', ')+'</td><td>'+m.fees+'</td><td>'+m.total_shares.join('/')+'</td><td>'+m.my_shares.join('/')+'</td>');
                var buy = $('<a>').attr('href', '#').text('buy').on('click', function() {
                    $('#trade-modal .trade-type').text('buy');
                    $('#trade-modal .market').text(m.PM_id);
                    $('#trade-market').val(m.PM_id);
                    $('#trade-type').val('buy');
                    $('#trade-modal').modal('show');
                    $('#market-state').empty().append(states);
                });
                var sell = $('<a>').attr('href', '#').text('sell').on('click', function() {
                    $('#trade-modal .trade-type').text('sell');
                    $('#trade-modal .market').text(m.PM_id);
                    $('#trade-market').val(m.PM_id);
                    $('#trade-type').val('sell');
                    $('#trade-modal').modal('show');
                    $('#market-state').empty().append(states);
                });
                var buySell = $('<td>').append(buy).append(' / ').append(sell).css('text-align', 'right');
                $(row).append(buySell);
                $('.markets').append(row);
            });
        }
    });

    socket.on('miner', function (status) {

        if (status == 'on') {

            $('.miner-off').hide();
            $('.miner-on').show()

        } else {

            $('.miner-on').hide()
            $('.miner-off').show();
        }
    });


    ////
    // actions

    $('.miner-control a').on('click', function() {

        if ($('.miner-off').is(':visible')) {

            socket.emit('miner', 'start');
            
        } else if ($('.miner-on').is(':visible')) {

            socket.emit('miner', 'stop');
        }
    });

    $('#password-modal form').on('submit', function(event) {

        event.preventDefault();
        socket.emit('start', $('#password-modal input[name=password]').val());
        $('.node-stopped').hide();
        $('.node-starting').show();
        $('#password-modal').modal('hide');
    }); 


    $('.reporting form').on('submit', function(event) {

        event.preventDefault();

        var results = $(this).serializeArray();

        _.each(results, function(r, i) {
            results[i]['branch'] = _decision[r.name].vote_id;
        });

        socket.emit('report', results);
    }); 


    $('#create-branch-modal form').on('submit', function(event) {

        event.preventDefault();
        socket.emit('create-branch', $('#branch-id').val());
        $('#create-branch-modal').modal('hide');
    });

    $('#add-decision-modal form').on('submit', function(event) {

        event.preventDefault();

        var args = {
            'branchId': $('#decision-branch').val(),
            'decisionId': $('#decision-id').val(),
            'decisionText': $('#decision-text').val(),
            'decisionTime': $('#decision-time').val()
        }
        socket.emit('add-decision', args);
        $('#add-decision-modal').modal('hide');
    });

    $('#add-market-modal form').on('submit', function(event) {

        event.preventDefault();

        var args = {
            'marketId': $('#market-id').val(),
            'marketInv': $('#market-investment').val(),
            'marketDecisions': $('#market-decisions').val(),
            'marketStates': $('#market-states').val(),
            'marketDep': $('#market-dep').val()
        }
        socket.emit('add-market', args);
        $('#add-market-modal').modal('hide');
    });

    $('#send-cash-modal form').on('submit', function(event) {

        event.preventDefault();
        var address = $('#cash-dest-address').val();
        var amount = $('#cash-amount').val();
        socket.emit('send-cash', address, amount);
        $('#send-cash-modal').modal('hide');
    });

    $('#trade-modal form').on('submit', function(event) {

        event.preventDefault();
        var args = {
            'marketId': $('#trade-market').val(),
            'marketState': $('#market-state select').val(),
            'tradeAmount': $('#trade-amount').val(),
            'tradeType': $('#trade-type').val()
        }
        socket.emit('trade', args);
        $('#trade-modal').modal('hide');
    });

    $('#send-rep-modal form').on('submit', function(event) {

        event.preventDefault();
        var address = $('#rep-dest-address').val();
        var amount = $('#rep-amount').val();
        var branch = $('#rep-branch').val();
        
        socket.emit('send-reps', address, amount, branch);
        $('#send-rep-modal').modal('hide');
    });

    $('#explore-modal form').on('submit', function(event) {

        event.preventDefault();
        socket.emit('get-block', $('#explore-modal input[name=block-number]').val());
    });


    $('#stop-node').on('click', function() {
        socket.emit('stop');
    });

    socket.emit('my_address');
    socket.emit('info', 'my_address');
    socket.emit('miner', 'status');
    socket.emit('blockcount');

    socket.emit('check-status');

    socket.emit('decisions');
    socket.emit('markets');
    socket.emit('branches');

    socket.emit('reporting');

})()
</script>
</body>
</html>