<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">

<head>

<title>Augur</title>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css" />

<link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,300,300italic,700italic,700' rel='stylesheet' type='text/css'>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    
<style>

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}
body.stopped #main {
    display: none;
}
body.stopped #logo {
    display: block;
}
body.running #main {
    display: block;
}
body.running #logo {
    display: none;
}
h1, h2, h3, h4, h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}

h4 a,
h4 span {
    font-size: 14px;
    margin-top: 3px;
}
table {
    font-size: 12px;
}
table thead th{
    font-weight: 400;
}

h1.navbar-brand {
    font-size: 26px;
    font-weight: 200;
    margin: 0px 0px 0px 0px;
    position: relative;
    top: -3px;
}
nav h1 span {
    font-weight: 400;
}
nav .cash {
    margin-left: 20px;
    font-weight: bold;
}
.nav button {
    margin-top: 7px;
}
.nav .btn-danger .status:before {
    content: 'Node stopped';
}
.nav .btn-warning .status:before {
    content: 'Node starting';
}
.nav .btn-success .status:before {
    content: 'Node running';
}
.nav span.glyphicon-cog {
    font-size: 16px;
    margin-left: 8px;
    position: relative;
    top: 3px;
}

.sidebar .panel {
    font-size: 12px;
}

.branches .branches-toggle:before {
    content: 'show all';
}
.branches.all .branches-toggle:before {
    content: 'less';
}
.branches .other {
    display: none;
}
.branches.all .other {
    display: block;
}

#start-node,
#stop-node {
    margin-top: 0px;
}

#node-settings-modal .modal-dialog {
    font-size: 14px;
    width: 350px;
}
#node-settings-modal legend {
    font-size: 14px;
}
#node-settings-modal label {
    font-weight: 200;
    font-size: 12px;
    position: relative;
    top: 0px;
    right: -16px;
}

#create-branch-modal .modal-dialog {
    width: 400px;
}

#trade-modal .modal-dialog {
    width: 450px;
}
#trade-modal .btn-group {
    width: 100%;
}
#trade-modal p {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0px;
}
#trade-modal #trade-amount {
    width: 115px;
}
#trade-modal button {
    width: 100px;
}

#explore-modal .modal-dialog {
    width: 90%;
}
#explore-modal pre {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    font-size: 12px;
    margin: 0px;
}
#explore-modal .input-group {
    width: 250px;
}

#send-cash-modal #dest-address {
    width: 290px;
}

.address {
    overflow: hidden;
    text-overflow: ellipsis;
}

.network .miner-off span {
    color: red;
}
.network .miner-on span {
    color: green;
    font-weight: bold;
}
.network .blocks {
    margin-bottom: 15px;
}
.network fieldset {
    margin-top: 15px;
}
.network fieldset legend {
    font-size: 12px;
    margin-bottom: 10px;
}

.cycle {
    margin-bottom: 30px;
}
.cycle .progress-bar.reveal {
    background-color: rgb(239, 147, 5);
}
.cycle .progress-bar.svd {
    background-color: #000;
}
.cycle #report {
    display: none;
}
.cycle #report-decisions {
    margin-bottom: 0px;
}
.cycle #report-decisions li {
    background-color: rgb(255, 255, 228);
}
.cycle #report-decisions li:last-child {
    border-bottom-right-radius: 0; 
}
.cycle p,
.cycle label {
    font-size: 14px;
}
.cycle .my-choice {
    display: none;
    font-weight: bold;
    margin-bottom: 0px;
}
.cycle.reveal .my-choice,
.cycle.svd .my-choice {
    display: inline-block;
}
.cycle.reveal label,
.cycle.svd label {
    display: none;
}
.cycle h3 {
    margin: 5px 0px 10px 0px;
    font-size: 22px;
}
.cycle h3 span,
.cycle h3 i {
    font-size: 14px;
    margin-top: 10px;
    margin-left: 10px;
}

.spin {
    display: inline-block;
    -webkit-transform-origin: 47% 50%;
    transform-origin: 47% 50%;
    -webkit-animation: spin 1s infinite linear;
    -moz-animation: spin 1s infinite linear;
    -o-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
}

#alert {
    padding: 10px;
    position: fixed;
    width: 100%;
    min-height: 40px;
    opacity: 0.8;
    bottom: 0;
    margin-bottom: 0px;
    border-radius: 0;
    display: none;
}
#alert div {
    max-height: 45px;
    overflow-y: scroll;
}
#alert div p {
    font-size: 13px;
    margin-bottom: 5px;
}
.progress {
    height: 6px;
}
#logo {
    font-size: 363px;
    width: 300px;
    margin: 0% auto 0px auto;
    text-align: center;
    font-weight: 400;
    line-height: 1em;
    color: rgb(209, 231, 231);
    position: relative;
    top: 50%;
    transform: translateY(0%);
}
#confirm-modal .modal-dialog {
    width: 400px;
}
#confirm-modal button.confirm {
    margin-left: 10px;
}
#confirm-modal .modal-body p {
    font-size: 16px;
    margin: 0px;
}
</style>

<body class="stopped">

    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <h1 class="navbar-brand"><span>ḁugur</span></h1>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <button class="btn" style="display: none;" data-toggle="modal" data-target="#node-settings-modal">
                        <span class="status"></span>
                        <span class="glyphicon glyphicon-cog"></span>
                    </button>
                </li>
            </ul>
        </div>
        
    </nav>

    <section id="logo" class="container">ḁ</section>
    <section id="main" class="container">

        <div class="dash page row">

            <div class="col-sm-3 sidebar">
                <div class="panel panel-success account">
                    <div class="panel-heading clearfix">Account</div>
                    <div class="panel-body">
                        <p class="address"></p>
                        <p class="cash"></p>       
                    </div>
                </div>

                <div class="panel panel-info">
                    <div class="panel-heading clearfix"><span class="pull-left">Branches</span><a class="pull-right" href="#create-branch-modal" data-toggle="modal">create</a></div>
                    <div class="panel-body branches">
                    </div>
                </div>

                <div class="panel panel-default network">
                    <div class="panel-heading clearfix"><span class="pull-left">Network</span></div>
                    <div class="panel-body">
                        <p class="blocks clearfix"></p>
                        <p class="miner-control miner-off clearfix"><span class="pull-left">MINER OFF</span><a href="#" class="pull-right">start</a></p>
                        <p class="miner-control miner-on clearfix" style="display:none;"><span class="pull-left">MINER ON</span><a href="#" class="pull-right">stop</a></p>
                        <fieldset>
                            <legend>PEERS</legend>
                            <div class="peers"></div>
                        </fieldset>
                    </div>
                </div>

            </div>
          
            <div class="col-sm-9">
          
                <div class="cycle">
                    <h3 class="clearfix"></h3>
                    <script type="text/template" id="progress-template">
                        <div class="progress-bar <%= type %>" role="progressbar" aria-valuenow="<%= percent %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= percent %>%;">
                        </div>
                    </script>
                    <div class="progress"></div>
                    <div id="report" style="display: none;">
                        <ul class="list-group" id="report-decisions"></ul>
                        <script type="text/template" id="report-template">
                            <li class="list-group-item">
                                <p><%= d.txt %></p>
                                <label class="radio-inline">
                                    <input type="radio" name="<%= d.decision_id %>" value="1" <% if (d.state == '1') { %>checked<% }; %>> True
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="<%= d.decision_id %>" value="0" <% if (d.state == '0') { %>checked<% }; %>> False
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="<%= d.decision_id %>" value="0.5" <% if (d.state == '0.5') { %>checked<% }; %>> Ambiguous or Indeterminent
                                </label>
                                <p class="my-choice"><%= d.state_desc %></p>
                            </li>
                        </script>
                        <p id="error" class="hidden pull-right"></p>
                    </div>
                </div>

                <h4 class="clearfix">Decisions <a href="#add-decision-modal" data-toggle="modal" class="pull-right">Add decision</a>
                </h4>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Description</th><th>Branch</th><th>Matures</th><th style="text-align: right;">Status</th>
                        <tr>
                    </thead>
                    <tbody class="decisions"></tbody>
                </table>
            </div>
        </div>

    </section>

    <footer>

        <div class="row container clearfix">

        </div>

    </footer>

    <div id="alert" class="alert alert-dismissible" role="alert">
        <button type="button" class="close" onclick="$('#alert').hide()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <div></div>
    </div>

    <!-- modals dialogs -->

    <div id="password-modal" class="modal fade">
        <div class="modal-dialog model-sm">
            <div class="modal-content">
                <div class="modal-body clearfix">
                    <form method="POST">
                        <div class="col-lg-12">
                            <div class="input-group">
                                <input type="password" name="password" class="form-control" placeholder="Enter your password or public key" autofocus>
                                <span class="input-group-btn">
                                    <button class="btn btn-success" type="submit">Start</button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="confirm-modal" class="modal fade">
        <div class="modal-dialog model-sm">
            <div class="modal-content">
                <div class="modal-body clearfix">
                    <p class="message"><p>
                </div>
                <div class="modal-footer clearfix">
                    <button class="btn btn-success confirm pull-right" data-dismiss="modal">Okay</button>
                    <button class="btn btn-default cancel pull-right" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div id="create-branch-modal" class="modal fade">
        <div class="modal-dialog model-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <p>Create a new branch by entering a unique ID.  You will automatically be added to this branch and awarded all reputation to start.</p>
                </div>
                <div class="modal-body clearfix">
                    <form>
                        <div class="col-lg-12">
                            <div class="input-group">
                                <input type="text" name="branch-id" id="branch-id" class="form-control" placeholder="Enter a branch ID">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="submit">Create branch</button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="send-cash-modal" class="modal fade">
        <div class="modal-dialog model-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Send cash</h4>
                </div>
                <div class="modal-body">
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <label class="sr-only" for="dest-address">Destination address</label>
                            <input type="text" class="form-control" name="cash-dest-address" id="cash-dest-address" placeholder="Enter destination address">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="amount">Amount</label>
                            <input type="text" name="cash-amount" id="cash-amount" class="form-control" placeholder="Amount">
                        </div>
                        <button type="submit" class="btn btn-primary">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="send-rep-modal" class="modal fade">
        <div class="modal-dialog model-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Send <span class="branch"></span> reputation</h4>
                </div>
                <div class="modal-body">
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <label class="sr-only" for="dest-address">Destination address</label>
                            <input type="text" class="form-control" name="rep-dest-address" id="rep-dest-address" placeholder="Enter destination address">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="amount">Amount</label>
                            <input type="text" name="rep-amount" id="rep-amount" class="form-control" placeholder="Amount">
                        </div>
                        <input type="hidden" name="rep-branch" id="rep-branch">
                        <button type="submit" class="btn btn-primary">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="trade-modal" class="modal fade">
        <div class="modal-dialog model-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="btn-group btn-group-justified" data-toggle="buttons">
                        <label class="btn btn-primary">
                            <input type="radio" name="trade-type" autocomplete="off"> Buy
                        </label>
                        <label class="btn btn-primary">
                            <input type="radio" name="trade-type" autocomplete="off"> Sell
                        </label>
                    </div>
                </div>
                <div class="modal-body">
                    <p class="decision-text"></p>
                </div>
                <div class="modal-footer">
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <label class="sr-only" for="market-state">State</label>
                            <div id="market-state"></div>
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="amount">Amount</label>
                            <input type="text" name="trade-amount" id="trade-amount" class="form-control" placeholder="Amount">
                        </div>
                        <input type="hidden" name="trade-market" id="trade-market">
                        <button type="submit" class="btn btn-primary" disabled><span class="trade-type">-</span></button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="add-decision-modal" class="modal fade">
        <div class="modal-dialog model-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Add decision</h4>
                </div>
                <div class="modal-body clearfix">
                    <form role="form">
                        <div class="form-group">
                            <label for="decision-branch">Branch</label>
                            <select class="form-control branches" id="decision-branch" name="decision-branch"></select>
                        </div>
                        <div class="form-group">
                            <label for="decision-text">Decision text</label>
                            <input type="text" class="form-control" id="decision-text" placeholder="Enter a true or false question">
                        </div>
                        <div class="form-group">
                            <label for="decision-date">Maturation block</label>
                            <input type="text" class="form-control" id="decision-time" placeholder="Enter block number that decision matures">
                        </div>
                        <div class="form-group">
                            <label for="market-investment">Initial investment</label>
                            <input type="text" class="form-control" id="market-investment" placeholder="Your initial investment (in cash)">
                        </div>
                        <button type="submit" class="btn btn-primary pull-right">Submit Decision</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="node-settings-modal" class="modal fade">
        <div class="modal-dialog model-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="stop-node" class="btn btn-danger btn-block" data-loading-text="Stopping..." style="display: none;">Stop node</button>
                    <button id="start-node" class="btn btn-success btn-block" data-loading-text="Starting...">Start node</button>
                    <form id="password-form" style="display: none;">
                        <div class="input-group">
                            <input type="text" class="form-control" id="password" placeholder="Enter password or address">
                            <span class="input-group-btn">
                                <button class="btn btn-success" type="sumbit">Start</button>
                            </span>
                        </div>
                    </form>
                </div>
                <div class="modal-body clearfix">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="node-host" class="col-sm-4 control-label">Host</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-sm" id="node-host" placeholder="Host">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="node-port" class="col-sm-4 control-label">Port</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-sm" id="node-port" placeholder="Port">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="core-path" class="col-sm-4 control-label">Augur path</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-sm" id="core-path" placeholder="Path to Augur core">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary pull-right btn-sm">SAVE SETTINGS</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="explore-modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header clearfix">
                    <form class="row">
                        <div class="col-lg-6">
                            <div class="input-group input-group-sm">
                                <input type="text" name="block-number" class="form-control" placeholder="Enter block number">
                                <span class="input-group-btn">
                                    <button class="btn btn-info" type="submit">View</button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
                <pre class="block-view"></pre>
            </div>
        </div>
    </div>  


<script id="nodeMonitor" type="javascript/worker">

    console.log('[nodeMonitor] starting');

    importScripts("http://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js");
    importScripts("http://cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js");

    var socket = io.connect(location.origin + '/socket.io/')

    var SECONDS_PER_BLOCK = 60;
    var REPORT_CYCLE = 40;

    var augur = {
        decisions: {},
        branches: {},
        markets: {},
        blockcount: 0,
        network_blockcount: 0,
        starting: false,
        current: false,
        market_queue: {},
        force: false
    }

    var cycle = {
        count: 0,
        decisions: {}
    };

    var account = {};

    function blockTime(block) {   // estimates time of given block

        var d = new Date();
        var seconds_diff = (block - augur.network_blockcount) * SECONDS_PER_BLOCK;
        d.setSeconds(d.getSeconds() + seconds_diff);

        return d;
    }

    socket.on('account', function (data) { 

        account = _.extend(account, data)

        self.postMessage({'address': account.address});
        self.postMessage({'cash': account.cash});
        //self.postMessage({'branches': augur.branches});
        //self.postMessage({'shares': account.shares});
    });

    socket.on('miner', function (data) { 
        self.postMessage({'miner': data});
    });

    socket.on('blockcount', function (count) {

        if (augur.blockcount != count || augur.force) {

            augur.force = false;

            var prev_blockcount = augur.blockcount;
            augur.blockcount = count;
            self.postMessage({'blockcount': count});

            var start_block = prev_blockcount + 1;

            socket.emit('update-account');

            // examine new blocks
            if (prev_blockcount != count) {
                console.log('[nodeMonitor] fetching blocks '+ start_block +' - '+augur.blockcount);
                for (i = start_block; i <= augur.blockcount; i++) {
                    socket.emit('get-block', i);
                }
            }

            // check for maturing decisions
            var changes = false;
            _.each(augur.decisions, function(d) {
                if (d['status'] == 'open' && d['maturation'] <= augur.network_blockcount) {
                    changes = true;
                    augur.decisions[d['decision_id']]['status'], d['status'] = 'closed';

                    // update associated market
                    augur.markets[d['decision_id']] = _.extend(augur.markets[d['decision_id']], d);
                }
            });
            // update DOM if there are changes
            if (changes) self.postMessage({'markets': augur.markets});

            // check cycle reporting phase
            cycle_count = parseInt(augur.network_blockcount / REPORT_CYCLE);
            cycle['block'] = augur.network_blockcount - (cycle_count * REPORT_CYCLE);
            cycle['end_block'] = (cycle_count + 1) * REPORT_CYCLE;
            cycle['end_date'] = blockTime((cycle_count + 1) * REPORT_CYCLE);
            cycle['last_end_block'] = cycle_count * REPORT_CYCLE;
            cycle['last_end_date'] = blockTime(cycle_count * REPORT_CYCLE);
            cycle['reveal_block'] = parseInt(cycle['last_end_block'] + REPORT_CYCLE * 0.875);
            cycle['reveal_date'] = blockTime(cycle['reveal_block']);
            cycle['svd_block'] = parseInt(cycle['last_end_block'] + REPORT_CYCLE * 0.975);
            cycle['svd_date'] = blockTime(cycle['svd_block']);
            cycle['percent'] = (cycle['block'] / REPORT_CYCLE) * 100;
            cycle['phase'] = 'catching up';

            if (augur.current) {   // only reveal reporting details if we have parsed the blockchain and are current

                if (cycle_count != cycle['count']) {   // we're in a new cycle 

                    cycle['count'] = cycle_count;
                    console.log("[nodeMonitor] reporting cycle " + cycle['count']);
                
                    // collect reporting decisions
                    cycle['decisions'] = {};
                    _.each(augur.decisions, function(d) {
                        if (d['status'] == 'closed' && _.has(account['branches'], d['vote_id']) && _.has(augur.markets, d['decision_id'])) {
                            cycle['decisions'][d['decision_id']] = d;
                        };
                    });
                }

                // reporting phase
                if (augur.blockcount < cycle['reveal_block'] && cycle['phase'] != 'reporting') {  

                    cycle['phase'] = 'reporting';

                    // update reporting
                    self.postMessage({'report': cycle});

                // reveal phase
                } else if (augur.blockcount >= cycle['reveal_block'] && augur.blockcount < cycle['svd_block'] && cycle['phase'] != 'reveal') {   

                    cycle['phase'] = 'reveal';

                    // reveal reports
                     _.each(cycle['decisions'], function(d) {
                        if (d.state) {   // we have reported on this decision 
                            socket.emit('reveal-vote', d['vote_id'], d['decision_id']);
                            console.log('[nodeMonitor] revealing vote ('+d['decision_id']+') in '+d['vote_id']);
                        }
                    });

                    // update reporting
                    self.postMessage({'report': cycle});

                // SVD phase
                } else if (augur.blockcount >= cycle['svd_block'] && cycle['phase'] != 'svd') {

                    cycle['phase'] = 'svd';

                    // collect all branches voted on
                    branches = {}

                    _.each(cycle['decisions'], function(d) {

                        branches[d['vote_id']] = true;

                        // dedupe list and do SVD concensus on all voted branches
                        _.each(Object.keys(branches), function(branch) {
                            socket.emit('svd-consensus', branch);
                            console.log('[nodeMonitor] svd consensus for ' + branch);
                        });
                    });

                    // update reporting
                    self.postMessage({'report': cycle});
                }
            }

            self.postMessage({'cycle': cycle});   // update cycle data

            // save data to localStorage (must message main thread cause workers can't access storage)
            //self.postMessage({'save': augur, account, cycle});
        }
    });

    socket.on('block', function (block) {

        if (block && block['txs']) {

            var messages = []

            _.each(block['txs'], function(tx) {

                // build ledger of all account transactions
                if (tx['pubkey'] == account['pubkey']) acount['txs'].push(tx);

                if (tx['type'] == 'propose_decision') {

                    tx['status'] = tx['maturation'] > augur.network_blockcount ? 'open' : 'closed';
                    tx['maturation_date'] = blockTime(tx['maturation']);
                    augur.decisions[tx['decision_id']] = tx;

                    // check to see if we're waiting for this decision to show up
                    if (augur.market_queue[tx['decision_id']]) {

                        socket.emit('add-market', augur.market_queue[tx['decision_id']]);
                        delete augur.market_queue[tx['decision_id']]
                    }

                    messages.push('New decision: ' + tx['txt'] + ' (' + tx['decision_id'] + ')');

                } else if (tx['type'] == 'prediction_market') {

                    var decision_id = tx['decisions'][0];

                    // augment market data with decision data
                    augur.markets[decision_id] = _.extend(tx, augur.decisions[decision_id]);

                    self.postMessage({'markets': augur.markets});

                } else if (tx['type'] == 'create_jury') {

                    augur.branches[tx.vote_id] = tx;

                    // check to see if we have any rep on this branch
                    if (_.has(account.branches, tx.vote_id)) {
                        augur.branches[tx.vote_id]['my_rep'] = account.branches[tx.vote_id];
                    }

                    self.postMessage({'branches': augur.branches});
                    messages.push('New branch: ' + tx['vote_id']);

                } else if (tx['type'] == 'spend') {

                    sender = 'unknown';
                    if (tx.vote_id) {
                        messages.push(sender + ' sent ' + tx['amount'] + ' ' + tx['vote_id'] + ' reputation to ' + tx['to']);
                    } else {
                        messages.push(sender + ' sent ' + tx['amount'] + ' cash to ' + tx['to']);
                    }

                }
            });

            // check to see if we have caught up and loaded all txs
            if (block['length'] == augur.network_blockcount && !augur.current) {
                augur.current = true;
                augur.force = true;
            }

            if (messages.length) self.postMessage({'alert': {'type': 'info', 'messages': messages}});
        }      
    });

    socket.on('peers', function (peers) {

        if (!augur.running) {
            socket.emit('get-account');
            augur.running = true;

            self.postMessage({'node-up': true});            
        }

        _.each(peers, function(data) {

            // update network blockcount to largest peers
            augur.network_blockcount = data.blockcount > augur.network_blockcount ? data.blockcount : augur.network_blockcount;
        });

        self.postMessage({'peers': peers});
    });

    socket.on('node-down', function() {

        // check to see if we were already running
        if  (augur.running || !_.has(augur, 'running')) {

            self.postMessage({'node-down': true});   
            augur.running = false;
        }
    });

    // message listeners from DOM script
    self.addEventListener('message', function(message) {

        var m = message.data;

        // adding a pending decision to list until the blockchain confirms it
        if (m && m['add-decision']) {

            var tx = {
                'txt': m['add-decision']['decisionText'],
                'decision_id': m['add-decision']['decisionId'],
                'vote_id': m['add-decision']['branchId'],
                'maturation': m['add-decision']['decisionMaturation'],
                'status': 'pending'
            }

            augur.decisions[tx.decision_id] = tx;

            var tx = {
                'B': parseInt(m['add-decision']['marketInv']),
                'PM_id': m['add-decision']['decisionId'] + '.market',
                'decisions': [m['add-decision']['decisionId']],
                'decision_id': m['add-decision']['decisionId'],
                'fees': 0,
                'owner': account.address,
                'states': ['no', 'yes'],
                'type': 'prediction_market',
                'txt': m['add-decision']['decisionText'],
                'vote_id': m['add-decision']['branchId'],
                'maturation': m['add-decision']['decisionMaturation'],
                'maturation_date': blockTime(m['add-decision']['decisionMaturation']),
                'status': 'pending'
            }

            augur.markets[tx.decision_id] = tx;
            self.postMessage({'markets': augur.markets});

            augur.market_queue[m['add-decision'].decisionId] = m['add-decision'];

        } else if (m && m['report-decision']) {

            augur.decisions[m['report-decision']['decision_id']]['state'] = m['report-decision']['stage'];

            var data = _.extend(augur.decisions[m['report-decision']['decision_id']], m['report-decision']);
            socket.emit('report', data);

        } else if (m && m['load']) {


        }
    });

    // start pinging node for updates
    setInterval(function() { socket.emit('ping') }, 2500);

</script>

<!--  ##  ##  ##  ##  ##  ##  ##  ##  ##  ##  ##  ##  ## -->

<script>
(function () {

    var socket = io.connect(location.origin + '/socket.io/');

    function formatDate(d) {

        if (!d) return '-';

        months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Oct','Sep','Nov','Dec'];

        var hour = d.getHours() > 11  ? d.getHours() - 12 : d.getHours();
        hour = hour == 0 ? 12 : hour;
        var apm = d.getHours() > 10 || d.getHours() == 23 && d.getHours() != 0 ? 'pm' : 'am';
        var minutes = d.getMinutes() < 10 ? '0'+ d.getMinutes() : d.getMinutes();
  
        return months[d.getMonth()]+' '+d.getDate()+', '+hour+':'+minutes+' '+apm;
    }

    function confirm(args) {

        $('#confirm-modal .message').html(args.message);
        if (args.cancelText) $('#confirm-modal button.cancel').text(args.cancelText);
        if (args.confirmText) $('#confirm-modal button.confirm').text(args.confirmText);

        $('#confirm-modal button.confirm').on('click', args.confirmCallback);
        $('#confirm-modal button.cancel').on('click', args.cancelCallback);

        $('#confirm-modal').modal('show');
    }

    // define node monitoring web worker from script block above and start it
    var blob = new Blob([document.querySelector('#nodeMonitor').textContent]);
    var nodeMonitor = new Worker(window.URL.createObjectURL(blob));

    // worker error handling
    nodeMonitor.addEventListener('error', function(e) {
        console.log('[nodeMonitor] error on '+ e.lineno,': ' +e.message);
    }, false);

    // main worker postMessage listener
    nodeMonitor.addEventListener('message', function(e) {
    
        var m = e.data;

        if (m['load']) {
 

        } else if (m['alert']) {

            $('#alert').show();

            $('#alert').removeClass('alert-info').removeClass('alert-success').removeClass('alert-warning').removeClass('alert-danger');
            $('#alert').addClass('alert-'+m.alert['type']);

            items = [];
            _.each(m.alert['messages'], function(message) {
                items.push($('<p>').html(message));
            });
            $('#alert div').append(items);
            $('#alert').show();
            $('#alert div').scrollTop($('#alert div')[0].scrollHeight);

        } else if (m['node-up']) {

            $('body').removeClass('stopped').addClass('running');
            $('#node-settings-modal').modal('hide');
            $('.nav button').addClass('btn-success');
            $('.nav button').removeClass('btn-warning');
            $('.nav button').removeClass('btn-danger');
            $('.nav button').show();
            $('#node-settings-modal .btn-success').hide();
            $('#node-settings-modal .btn-danger').show();
            $('#start-node').button('reset');

        } else if (m['node-starting']) {

            $('.nav button').removeClass('btn-success');
            $('.nav button').addClass('btn-warning');
            $('.nav button').removeClass('stopped');
            $('.nav button').show();
            //$('#main').show();   // show the dash while starting up or not?

        } else if (m['node-down']) {

            $('body').removeClass('running').addClass('stopped');
            $('#node-settings-modal').modal('hide');
            $('.nav button').removeClass('btn-success');
            $('.nav button').removeClass('btn-warning');
            $('.nav button').addClass('btn-danger');
            $('.nav button').show();
            $('#node-settings-modal .btn-success').show();
            $('#node-settings-modal .btn-danger').hide();
            $('#stop-node').button('reset');

        } else if (m['peers']) {

            $('.peers').empty();

            $.each(m['peers'], function(address, info) {
                var p = $('<p>').text(address);
                $('.peers').append(p);
            });

        } else if (m['cycle']) {

            if (m['cycle'].phase == 'catching up') {
                var phase = $('<i>').text(m['cycle'].phase);
            } else {
                var phase = $('<span>').text(m['cycle'].phase);
            }
            $('.cycle h3').html('Cycle ending ' + formatDate(m['cycle'].end_date)).append(phase);

            if (m['cycle']['percent'] > 97.5) {
                var phases = [{name: 'reporting', percent: 87.5}, {name: 'reveal', percent: 10}, {name: 'svd', percent: m['cycle']['percent'] - 97.5}];
            } else if (m['cycle']['percent'] > 87.5) {
                var phases = [{name: 'reporting', percent: 87.5}, {name: 'reveal', percent: m['cycle']['percent'] - 87.5}];
            } else {
                var phases = [{name: 'reporting', percent: m['cycle']['percent']}];
            }

            var template = _.template($("#progress-template").html());
            $('.cycle .progress').empty();
            _.each(phases, function(p) {
                $('.cycle .progress').append(template({'type': p.name, 'percent': p.percent}))

            });

            $('.cycle').show();

        } else if (m['report']) {

            $('.cycle').removeClass('reporting').removeClass('reveal').removeClass('svd').addClass(m['report']['phase']);

            if (!$.isEmptyObject(m['report']['decisions'])) {

                $('#report-decisions').empty();

                var h = $('<h4>').html('Report');
                var s = $('<span>').html('Ends at ' + formatDate(m['report'].reveal_date));
                var report_header = $('<li>').addClass('list-group-item').append([h, s]);
                $('#report-decisions').append(report_header);
                var template = _.template($("#report-template").html());
                _.each(m['report']['decisions'], function(d, id) {

                    if (d['state'] == '0') { d['state_desc'] = 'False' }
                    else if (d['state'] == '1') { d['state_desc'] = 'True' }
                    else if (d['state'] == '0.6') { d['state_desc'] = 'Ambiguous or Indeterminent' }
                    else { d['state_desc'] = 'Absent' }

                    $('#report-decisions').append(template({'d': d}));
                });

                $('#report').show();

                $('#report input[name]').on('change', function(e) {

                    var report = {'decision_id': $(this).attr('name'), 'state': $(this).val()};
                    var state = $('#report input[name='+$(this).attr('name')+']').attr('data-state');
                    var self = this;

                    if (state) {

                        var dialog = {
                            message: 'Changing this decision will incur and additional fee.  Are you sure you wish to change it?',
                            confirmText: 'Change',
                            confirmCallback: function() {
                                nodeMonitor.postMessage({'report-decision': report});
                                $('#report input[name='+report.decision_id+']').attr('data-state', report.state);
                            },
                            cancelCallback: function() {
                                $('#report input[name='+report.decision_id+'][value="'+state+'"]').attr('checked', true);
                            }
                        }
                        
                        confirm(dialog);

                    } else {

                        nodeMonitor.postMessage({'report-decision': report});
                        $('#report input[name='+report.decision_id+']').attr('data-state', report.state);
                    }
                });


            } else {

                $('#report').hide();
            }
 
        } else if (m['branches']) {

             if (!$.isEmptyObject(m['branches'])) {

                $('.branches').empty()

                // sort on reputation
                //m['branches'] = m['branches'].sort(function(a,b) {return (a.my_rep > b.my_rep) ? -1 : ((b.my_rep > a.my_rep) ? 1 : 0);} );
                var has_branches = false;

                _.each(m['branches'], function(branch) {

                    m['branches'][branch['vote_id']] = branch;   // update local branches

                    // update add decision modal
                    $('#decision-branch').append($('<option>').val(branch.vote_id).text(branch.vote_id));

                    if (branch.my_rep) {

                        has_branches = true;
                        var p = $('<p>').html('<span class="pull-left"><b>'+branch.vote_id+'</b> ('+branch.my_rep+')</span>').addClass('clearfix');
                        var send = $('<a>').attr('href','#').addClass('pull-right').text('send').on('click', function() {
                            $('#rep-branch').val(branch.vote_id);
                            $('#send-rep-modal .branch').text(branch.vote_id);
                            $('#send-rep-modal').modal('show');
                        })
                        p.append(send);

                    } else {
                        var p = $('<p class="other">').html('<span>'+branch.vote_id+'</span>');
                    }
                    $('.branches').append(p);
                });

                var bt = $('<a>').addClass('pull-right branches-toggle').on('click', function(event) {
                    $('.branches').toggleClass('all');
                });
                $('.branches').append(bt);

            } else {

                var p = $('<p>').html('<span class="pull-left">There are no branches</span>');
                $('.branches').empty().append(p);
            }

        } else if (m['address']) {

            $('.address').html(m['address']);

        } else if (m['blockcount']) {

            $('.blocks').html('<span class="pull-left"><b>'+m['blockcount']+'</b> BLOCKS</span><a class="pull-right" href="#explore-modal" data-toggle="modal">explore</a>');

        } else if (m['view-block']) {

            $('.block-view').text(m['view-block']);

        } else if (m['markets']) {

            if (!$.isEmptyObject(m['markets'])) {

                $('.decisions').empty();
                _.each(m['markets'], function(m) {

                    if (m) {
                        var states = $('<select>').addClass('states, form-control').attr('name', 'market-state');
                        states.append($('<option>').text('Select'));
                        _.each(m['states'], function(state) {
                            states.append($('<option>').val(state).text(parseInt(state) ? 'True' : 'False'));
                        });
                        var row = $('<tr>').html('<td>'+m.txt+'</td><td>'+m.vote_id+'</td><td>'+formatDate(m.maturation_date)+'</td>');
                        var trade = $('<a>').attr('href', '#').text('trade').on('click', function() {
                            $('#trade-modal .decision-text').text(m.txt);
                            $('#trade-market').val(m.PM_id);
                            $('#trade-modal').modal('show');
                            $('#market-state').empty().append(states);
                        });
                        if (m.status == 'open') {
                            var trade = $('<td>').append(trade).css('text-align', 'right');
                        } else if (m.status == 'pending') {
                            var trade = $('<td>').text('pending').css('text-align', 'right');
                        } else {
                            var trade = $('<td>').text('closed').css('text-align', 'right');
                        }
                        $(row).append(trade);
                        $('.decisions').append(row);
                    }
                });
            }

        } else if (m['miner']) {

            if (m['miner'] == 'on') {

                $('.miner-off').hide();
                $('.miner-on').show()

            } else {

                $('.miner-on').hide()
                $('.miner-off').show();
            }

        } else if (m['cash']) {

            $('.cash').html('<span class="pull-left"><b>'+m['cash']+'</b> CASH</span><a class="pull-right" href="#send-cash-modal" data-toggle="modal">send</a>');
        }

    }, false);

    // start worker
    nodeMonitor.postMessage();

    ////
    // actions

    $('.miner-control a').on('click', function() {

        if ($('.miner-off').is(':visible')) {

            socket.emit('miner', 'start');
            
        } else if ($('.miner-on').is(':visible')) {

            socket.emit('miner', 'stop');
        }
    });

    $('#password-form').on('submit', function(event) {

        event.preventDefault();
        socket.emit('start', $('#password').val());
        $(this).hide();
        $('#start-node').button('loading');
        $('#start-node').show();
        $('#password-modal').modal('hide');
    }); 


    $('.reporting form').on('submit', function(event) {

        event.preventDefault();

        var results = $(this).serializeArray();

        _.each(results, function(r, i) {
            results[i]['branch'] = _decision[r.name].vote_id;
        });

        socket.emit('report', results);
    }); 


    $('#create-branch-modal form').on('submit', function(event) {

        event.preventDefault();
        socket.emit('create-branch', $('#branch-id').val());
        $('#create-branch-modal').modal('hide');
    });

    $('#add-decision-modal form').on('submit', function(event) {

        event.preventDefault();

        var args = {
            'branchId': $('#decision-branch').val(),
            'decisionText': $('#decision-text').val(),
            'decisionMaturation': $('#decision-time').val(),
            'marketInv': $('#market-investment').val()
        }

        socket.emit('add-decision', args);
        $('#add-decision-modal').modal('hide');
    });

    socket.on('add-decision', function(data) {
        nodeMonitor.postMessage({'add-decision': data});
    });

    $('#send-cash-modal form').on('submit', function(event) {

        event.preventDefault();
        var address = $('#cash-dest-address').val();
        var amount = $('#cash-amount').val();
        socket.emit('send-cash', address, amount);
        $('#send-cash-modal').modal('hide');
    });

    $('#trade-modal form').on('submit', function(event) {

        event.preventDefault();
        var args = {
            'marketId': $('#trade-market').val(),
            'marketState': $('#market-state select').val(),
            'tradeAmount': $('#trade-amount').val(),
            'tradeType': $('#trade-type').val()
        }
        socket.emit('trade', args);
        $('#trade-modal').modal('hide');
    });

    $('#send-rep-modal form').on('submit', function(event) {

        event.preventDefault();
        var address = $('#rep-dest-address').val();
        var amount = $('#rep-amount').val();
        var branch = $('#rep-branch').val();
        
        socket.emit('send-reps', address, amount, branch);
        $('#send-rep-modal').modal('hide');
    });

    $('#explore-modal form').on('submit', function(event) {

        event.preventDefault();
        socket.emit('explore-block', $('#explore-modal input[name=block-number]').val());
    });

    socket.on('show-block', function(data) {
        $('#explore-modal pre').text(data);
    });

    $('#stop-node').on('click', function() {
        $(this).button('loading');
        socket.emit('stop');
    });

    $('#start-node').on('click', function() {
        $(this).hide();
        $('#password-form').show();
        $('#password').focus();
    });

    $('#alert').on('closed.bs.alert', function() {
        $('#alert div').empty();
    });

})()
</script>

</body>
</html>