<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">

<head>

<title>Truthcoin</title>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css" />

<link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,300,300italic,700italic,700' rel='stylesheet' type='text/css'>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    
<style>

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}
h1, h2, h3, h4, h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}

nav h1 {
    font-size: 18px;
    font-weight: 200;
    margin: 0px 0px 0px 0px;
}
nav h1 span {
    font-weight: 400;
}
nav .credits {
    margin-left: 20px;
    font-weight: bold;
}

.markets .badge {
    float: right;
}

.nav .dropdown button {
    border-radius: 0px;
    margin-top: 7px;
}

.sidebar .panel {
    font-size: 12px;
}

#password-prompt .modal-dialog {
    width: 400px;
}
.address {
    overflow: hidden;
    text-overflow: ellipsis;
}

</style>

<body>

    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <h1 class="navbar-brand"><span>Truthcoin</h1>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <button class="btn btn-{% if server.status == 'running' %}success{% else %}danger{% endif %} dropdown-toggle" data-toggle="dropdown">Node {{ server.status }}&nbsp;<span class="caret"></span></button>
                    {% if server['status'] == 'running' %}
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#" id="start-miner">Start miner</a></li>
                        <li><a href="#" id="stop-node">Stop node</a></li>
                    </ul>
                    {% else %}
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#password-prompt" data-toggle="modal">Start node</a></li>
                    </ul>
                    {% endif %}
                </li>
            </ul>
        </div>
        
    </nav>

    <section id="main" class="container">

        <div class="home page row">

        {% if user.address %}
            <div class="col-sm-4 sidebar">
                <div class="panel panel-default account">
                    <div class="panel-heading clearfix">Account</div>
                    <div class="panel-body">
                        <p class="address">{{ user.address }}</p>
                        <p class="credits"></p>       
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading clearfix"><span class="pull-left">Juries</span><a class="pull-right" href="#create-jury">create</a></div>
                    <div class="panel-body juries">
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading clearfix"><span class="pull-left">Network peers</span></div>
                    <div class="panel-body peers">
                    </div>
                </div>

            </div>
          
            <div class="col-sm-8">
            </div>

        {% endif %}

        </div>

    </section>

    <footer>

        <div class="row container clearfix">

        </div>

    </footer>


    <!-- modals dialogs -->

    <div id="password-prompt" class="modal fade">
        <div class="modal-dialog model-sm">
            <div class="modal-content">
                <div class="modal-body">
                    <form method="post">
                        <div class="col-lg-6">
                            <div class="input-group">
                                <input type="text" name="password" class="form-control" placeholder="Enter your password or public key">
                                <span class="input-group-btn">
                                    <button class="btn btn-success" type="submit">Start</button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="password-prompt" class="modal fade">
        <div class="modal-dialog model-sm">
            <div class="modal-content">
                <div class="modal-body">
                    <form method="post">
                        <div class="col-lg-6">
                            <div class="input-group">
                                <input type="text" name="password" class="form-control" placeholder="Enter your password or public key">
                                <span class="input-group-btn">
                                    <button class="btn btn-success" type="submit">Start</button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="password-prompt" class="modal fade">
        <div class="modal-dialog model-sm">
            <div class="modal-content">
                <div class="modal-body">
                    <form method="post">
                        <div class="col-lg-6">
                            <div class="input-group">
                                <input type="text" name="password" class="form-control" placeholder="Enter your password or public key">
                                <span class="input-group-btn">
                                    <button class="btn btn-success" type="submit">Start</button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>  

<script>
(function () {

    var socket = io.connect(window.location.protocol + '//' + document.domain + ':' + location.port + '/socket.io/');

    socket.on('info', function (data) {

        if (data) {

            console.log(data)

            $('.credits').html('<span class="pull-left">'+data.amount+' CREDITS</span><a class="pull-right" href="#send-credits">send</a>');

            if (data.votecoin.length) {

                $.each(data.votecoin, function(jury, rep) {
                    var p = $('<\p>').html(market+'<span class="badge">'+rep+'</span>');
                    $('.juries').append(p);
                });

            } else {

                var p = $('<\p>').html('<span class="pull-left">You are not a member of any juries</span>');
                $('.juries').append(p);
            }


        }

    });

    socket.on('peers', function (peers) {

        if (peers.length) {

            console.log(peers)

            $.each(peers, function(i, peer) {

                var p = $('<\p>').text(peer);
                $('.peers').append(p);
            });
        }

    });


    $('#stop-node').on('click', function() {
        console.log('stopping node');
        socket.emit('stop');
    });

    socket.emit('info', 'my_address');
    socket.emit('peers');

})()
</script>
</body>
</html>